:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #151515;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #000000, #1a1a1a, #000000);
  background-size: 200% 200%;
  animation: gradientFlow 15s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@font-face {
  font-family: 'Avengeance';
  src: url('Avengeance.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Avengeance', sans-serif;
  font-size: 7.2em;
  line-height: 1.1;
  color: #e62429;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 
    3px 3px 0px #000000,
    6px 6px 0px rgba(0, 0, 0, 0.5);
}
a {
  font-weight: 500;
  color: #e62429;
  text-decoration: none;
  transition: color 0.25s;
}

a:hover {
  color: #ff3d3d;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e62429;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #ff3d3d;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.centered-title {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

}
